.idea/
config.json
*.pyc
pycallgraph.png
plugins/CustomCommands/commands.json
plugins/DiscordMarkov/strings.json
plugins/PrivateChannel/channels.json
plugins/Project Skynet/learned_data.json
plugins/Quotes/quotes.json
plugins/TaskScheduler/tasks.json
Todo.txt
plugins/MarkovLyrics/lyrics/
plugins/RSSFeed/feeds.json
plugins/Soundboard/files/
plugins/Soundboard/files.json
plugins/Jukebot/queue.json
plugins/Jukebot/libopus.dll
plugins/Soundboard/libopus.dll
jigsaw_plugins/TestPlugin/error.log
